.table-responsive{
    padding: 3%;
    left: 2%;
    right: 2%;;
}
.wrapper { 
 /*    height: -webkit-fill-available; */

    background-repeat: no-repeat;

    background-size: cover;
    background-position: center center;
  
    overflow: hidden;
   
   
   
   /*  height: -webkit-fill-available; */
  }