<div class="it-right-zone">
    <div class="it-header-navbar-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
          
              <nav class="navbar navbar-expand-lg has-megamenu" style="float: right">
                <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false"
                  aria-label="Toggle navigation" data-target="#nav10">
                  <svg class="icon">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
                  </svg>
                </button>
                <div class="navbar-collapsable" id="nav10" style="display: none;">
                  <div class="overlay" style="display: none;"></div>
                  <div class="close-div sr-only">
                    <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                  </div>
                  <div class="menu-wrapper">
                    <ul class="navbar-nav">
                      <li class="nav-item active"><a class="nav-link active" href="welcome/qualifiche"><span>Qualifiche </span><span
                            class="sr-only">current</span></a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#"><span>Revisioni in corso </span></a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><span>Visualizza Tutte le Revisioni </span></a></li> -->
                      <li class="nav-item"><a class="nav-link" href="#"><span>Segnalazioni </span></a></li>
                      <li class="nav-item"><a class="nav-link" href="#"><span>Notifiche </span></a></li>
                      <li class="nav-item"><a class="nav-link" href="/verifiche"><span>Verifiche </span></a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
          </div>
  </div>
  <div class="wrapper">
    <h4 style="margin-top: 2%;margin-left: 2%;">Elenco Attività</h4>
    <div class="table-responsive">
      <table class="table table-hover" >
          <thead>
            <tr>
              <th scope="col">Sottomissioni</th>
              <th scope="col">Cloud Provider</th>
              <th scope="col">Attività</th>
              <th scope="col">Opzioni</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Sottomissione Oracle</th>
              <td>IaaS</td>
              <td>Verifica</td>
              <td><button class="btn btn-primary btn-sm" routerLink="/dettaglio-verifiche" routerLinkActive="active">Vai al Dettaglio --></button></td>
            </tr>
            <tr>
              <th scope="row">Sottomissione Amazon</th>
              <td>SaaS</td>
              <td>Verifica</td>
              <td><button class="btn btn-primary btn-sm">Vai al Dettaglio --></button></td>
            </tr>
            <tr>
              <th scope="row">Sottomissione IBM</th>
              <td>PaaS</td>
              <td>Verifica</td>
              <td><button class="btn btn-primary btn-sm">Vai al Dettaglio --></button></td>
            </tr>
          </tbody>
        </table>
    
      </div>
 
  </div>

  
      
  
