.div-prof{    
    margin-top: 5%;
    margin-left: 15%;
}

.div-prof2{
    margin-top: 50px;
}


.span-prof{
    margin-top: 10px; 
    
} 

.form-control{
    width: auto;
    display: inline;
}

.form-control2{
    width: 350px;
    
}

#id_button{
    margin-top: 20px;
}


.wrapper { 
 /*    height: -webkit-fill-available;
 */
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center center;
  
    overflow: hidden;
   
   
   
   /*  height: -webkit-fill-available; */
  }