
<app-navigation></app-navigation>
<div >       
  <router-outlet></router-outlet>
</div>
<footer>
    <div class="it-header-slim-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-slim-wrapper-content">
              <a class="d-none d-lg-block navbar-brand" href="#">Ente appartenenza/Owner</a>
              <small style="color:white;">&copy; Copyright 2019, Example Corporation</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
