<div style="text-align:center">
    <div>
      <div class="it-header-wrapper">
        <div class="it-header-slim-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="it-header-slim-wrapper-content">
                  <a class="d-none d-lg-block navbar-brand" href="#">Agenzia per l'Italia Digitale</a>
                  <div class="nav-mobile">
                    <nav>
                      <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu4" role="button"
                        aria-expanded="false" aria-controls="menu4">
                        <span>Agid Review</span>
                        <svg class="icon">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                    </nav>
                  </div>
                  <div class="header-slim-right-zone">
                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>ITA</span>
                        <svg class="icon d-none d-lg-block">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                      <div class="dropdown-menu">
                        <div class="row">
                          <div class="col-12">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                <li><a class="list-item" style="cursor: pointer;"
                                    (click)="switchLanguage('it')"><span>ITA</span></a></li>
                                <li><a class="list-item" style="cursor: pointer;"
                                    (click)="switchLanguage('en')"><span>ENG</span></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 col-xs-4">
                        <svg style="border-radius: 50%;cursor: pointer;" routerLink="/profilo"  class="icon icon-sm icon-primary bg-light text-white "><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-user"></use></svg>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                      <span style="color:white;    font-size: initial;"for="account">M.Rossi</span>    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="it-nav-wrapper">
          <div class="it-header-center-wrapper" style="height: 100px;">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="it-header-center-content-wrapper" >
                    <div class="it-brand-wrapper">
                      <a href="#">
                        <div class="it-brand-text">
                          <h2>Portale Razionalizzazione</h2>
                        </div>
                      </a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="it-header-navbar-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
            
                <nav class="navbar navbar-expand-lg has-megamenu">
                  <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false"
                    aria-label="Toggle navigation" data-target="#nav10">
                    <svg class="icon">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
                    </svg>
                  </button>
                  <div class="navbar-collapsable" id="nav10" style="display: none;">
                    <div class="overlay" style="display: none;"></div>
                    <div class="close-div sr-only">
                      <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                    </div>
                    <div class="menu-wrapper">
                      <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link active" href="#"><span>Revisioni in corso </span><span
                              class="sr-only">current</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span>Qualifiche </span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span>Visualizza Tutte le Revisioni </span></a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
                        </div> -->
        </div>
      </div>
    </div>
  </div>

<div >       
  <router-outlet></router-outlet>
</div>