<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
    <div>
      <div class="it-header-wrapper">
        <div class="it-header-slim-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="it-header-slim-wrapper-content">
                  <a class="d-none d-lg-block navbar-brand" href="#">Agenzia per l'Italia Digitale</a>
                  <div class="nav-mobile">
                    <nav>
                      <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu4" role="button"
                        aria-expanded="false" aria-controls="menu4">
                        <span>Agid Review</span>
                        <svg class="icon">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                    </nav>
                  </div>
                  <div class="header-slim-right-zone">
                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                        <span>ITA</span>
                        <svg class="icon d-none d-lg-block">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                      <div class="dropdown-menu">
                        <div class="row">
                          <div class="col-12">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                <li><a class="list-item" style="cursor: pointer;"
                                    (click)="switchLanguage('it')"><span>ITA</span></a></li>
                                <li><a class="list-item" style="cursor: pointer;"
                                    (click)="switchLanguage('en')"><span>ENG</span></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="it-nav-wrapper">
          <div class="it-header-center-wrapper">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="it-header-center-content-wrapper">
                    <div class="it-brand-wrapper">
                      <a href="#">
                        <div class="it-brand-text">
                          <h2>Portale Razionalizzazione</h2>
                        </div>
                      </a>
                    </div>
                    <div class="it-right-zone">
                      <div class="it-socials d-none d-md-flex">
                        <span>Seguici su</span>
                        <ul>
                          <li>
                            <a href="#" aria-label="Facebook" target="_blank">
                              <svg class="icon">
                                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-facebook"></use>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="#" aria-label="Github" target="_blank">
                              <svg class="icon">
                                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-github"></use>
                              </svg>
                            </a>
                          </li>
                          <li>
                            <a href="#" aria-label="Twitter" target="_blank">
                              <svg class="icon">
                                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-twitter"></use>
                              </svg>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="it-search-wrapper">
                        <span class="d-none d-md-block">Cerca</span>
                        <a class="search-link rounded-icon" aria-label="Cerca" href="#">
                          <svg class="icon">
                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-search"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="it-header-navbar-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
            
                <nav class="navbar navbar-expand-lg has-megamenu">
                  <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false"
                    aria-label="Toggle navigation" data-target="#nav10">
                    <svg class="icon">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
                    </svg>
                  </button>
                  <div class="navbar-collapsable" id="nav10" style="display: none;">
                    <div class="overlay" style="display: none;"></div>
                    <div class="close-div sr-only">
                      <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                    </div>
                    <div class="menu-wrapper">
                      <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link active" href="#"><span>Revisioni in corso </span><span
                              class="sr-only">current</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span>Qualifiche </span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><span>Visualizza Tutte le Revisioni </span></a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
                        </div> -->
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper" style=" position: relative;
  align-self: center;
  float: unset;
  text-align: -webkit-center;">
    <div >
      <div class="col-12 col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <!--start card-->
        <div class="card-wrapper card-space" >
          <div class="card card-bg">
            <div class="card-body">
              <h3 class="card-title">Benvenuto</h3>
              <h5 class="card-title">Accedi con Username e Password</h5>
              <div class="mainform">
              <div class="form-group" >
                <label for="formGroupExampleInput2">Username</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Testo di esempio">

              </div>
              <div class="form-group"  >
              <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control input-password" id="exampleInputPassword"
                  aria-labelledby="infoPassword" placeholder="Inserire Password">
                <span class="password-icon" aria-hidden="true">
                  <svg class="password-icon-visible icon icon-sm">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-password-visible"></use>
                  </svg>
                  <svg class="password-icon-invisible icon icon-sm d-none">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-password-invisible"></use>
                  </svg>
                </span> 
              </div>
              <div class="form-group" id="buttonform">
              <button class="btn btn-primary btn-sm">Login</button>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!--end card-->
      </div>
    </div>

  </div>

<footer>
    <div class="it-header-slim-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="it-header-slim-wrapper-content">
                <a class="d-none d-lg-block navbar-brand" href="#">Ente appartenenza/Owner</a>
                <small style="color:white;">&copy; Copyright 2019, Example Corporation</small>
              </div>
            </div>
          </div>
        </div>
      </div>
</footer>
  <router-outlet></router-outlet>
</div>